<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJOrARO_ZyWH8FHggNuTE1T5fmY9G_1hs</string>
	<key>GCM_SENDER_ID</key>
	<string>1084134664009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batkenexpress.app</string>
	<key>PROJECT_ID</key>
	<string>batkenexpress</string>
	<key>STORAGE_BUCKET</key>
	<string>batkenexpress.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084134664009:ios:e30ad14f9e3a6f63f61c98</string>
</dict>
</plist>
